<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Блог</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/bootstrap.css">
</head>
<body class="text-center">
<main class="form-signin">
    <form th:action="@{/reg}" method="post">
        <h1 class="h3 mb-3 fw-normal">Зерегестрироваться</h1>
        <input type="text" name="username" class="form-control" placeholder="Логин" required="" autofocus="">
        <input type="email" name="email" class="form-control" placeholder="Почта" required="">
        <input type="password" name="password" class="form-control" placeholder="Пароль" required="">
        <input type="submit" value="Зарегистрироваться" class="w-100 btn btn-lg btn-primary">

        <p class="mt-5 mb-3 text-muted">© 2017-2021</p>
    </form>
</main>
</body>
</html>