<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Блог</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/bootstrap.css">
</head>
<body>
<div th:replace="blocks/header :: header"></div>
<div class="container mt-5">
    <h1 th:text="${title}" />
    <a class="btn btn-outline-success" href="/reviews-add">Написать отзыв</a>
    <div th:each="row : ${reviews}">
        <hr>
        <h3 class="mt-2" th:text="${row.title}"/>
        <p th:text="${row.text}" />
        <a class="btn btn-outline-primary" th:href="@{/reviews/} + ${row.id}">Детальнее</a>
        <hr>
    </div>
</div>
    <div th:replace="blocks/footer :: footer"></div>
</body>
</html>