<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Блог</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>
<div th:replace="blocks/header :: header"></div>
<div class="container mt-5">
    <h1 th:text="${title}" />
        <div th:each="row : ${review}">
            <h3 class="mt-5" th:text="${row.title}"/>
            <p th:text="${row.text}" />
            <a class="btn btn-warning" th:href="@{/reviews/} + ${row.id} + @{/update}">Редактировать</a>
                <form th:action="@{/reviews/} + ${row.id} + @{/delete}" method="post">
                    <button class="btn btn-danger" type="submit">Удалить</button>
                </form>
        </div>
</div>
<div th:replace="blocks/footer :: footer"></div>
</body>
</html>